
  <ion-header>
    <ion-toolbar color="primary">
     <img style="padding-left: 11px;" height="30px" src="assets/homepage/lawatinewl3.png">
    </ion-toolbar>
  </ion-header>

  
    <ion-list>
      <ion-item class="title" (click)="onclickresulthome()"><ion-icon name="home"></ion-icon> <span class="stitle">Home</span></ion-item>
      <ion-item class="title" (click)="onclickresult()" ><ion-icon name="bar-chart"></ion-icon> <span class="stitle">Result</span></ion-item> 
      <ion-item class="title" routerLink="/logout"><ion-icon name="newspaper"></ion-icon> <span class="stitle">Service</span> </ion-item>
      <ion-item class="title" routerLink="/logout"> <ion-icon name="id-card"></ion-icon> <span class="stitle">About us</span></ion-item>
       <ion-item class="title" routerLink="/logout"><ion-icon name="call"></ion-icon><span class="stitle">Call Us</span></ion-item>
    </ion-list>
  

