<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->

<!-- <ion-app>
  <ion-menu menuId="mainMenu" contentId="mainContent" side="end">
    <app-hamberger-menu></app-hamberger-menu>
  </ion-menu>

  <div id="mainContent">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app> -->
<ion-app>

  <ion-menu side="start" menuId="mainMenu" contentId="mainContent">
    <ion-content>
     <app-hamberger-menu></app-hamberger-menu>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="mainContent"></ion-router-outlet>

</ion-app>

