.mySwiper {
  width: 100%;
  height: 250px;
}

.slide-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background: #dcdcff;
  font-size: 24px;
  font-weight: bold;
}
